@charset "UTF-8";
/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html,
body,
div,
span,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
abbr,
address,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
samp,
small,
strong,
sub,
sup,
var,
b,
i,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title],
dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input,
select {
  vertical-align: middle;
}

body * {
  box-sizing: border-box;
}

header {
  display: flex;
  align-items: center;
  width: 100vw;
  height: 30px;
  position: fixed;
  z-index: 500;
}

.header__catch {
  font-weight: normal;
  margin-left: 12px;
  color: rgb(255, 179, 0);
  transition-duration: 1s;
}

@media screen and (max-width: 550px) {
  h2.header__catch {
    font-size: 12px;
  }
}
.burger_nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  line-height: 8vh;
  margin-left: auto;
}

.nav_links {
  display: flex;
  gap: 24px;
  justify-content: space-around;
  margin-right: 24px;
  transition: all 0.5s ease-in-out;
}

.nav_links li {
  list-style: none;
}

.nav_links a {
  text-decoration: none;
  color: #fff;
  font-weight: bold;
}

.burger {
  cursor: pointer;
  margin-right: 24px;
  position: absolute;
  right: 30px;
  top: 10px;
  opacity: 0;
  z-index: 1111;
}

.burger #x {
  width: 25px;
  height: 3px;
  background: #fff;
  margin: 5px;
  transition: all 0.5s ease-in-out;
}

.nav_active {
  transform: translateX(0%) !important;
  /* transform: translateX(0%); */
}

@media screen and (max-width: 1024px) {
  .nav_links {
    width: 55%;
  }
}
@media screen and (max-width: 768px) {
  body {
    overflow-x: hidden;
  }
  .nav_links {
    position: absolute;
    right: -2rem;
    height: 100vh;
    top: 0;
    background: #364e8b;
    flex-direction: column;
    align-items: center;
    width: 50%;
    transform: translateX(110%);
  }
  .burger {
    opacity: 1;
    cursor: pointer;
  }
}
.keyvisual.hide {
  opacity: 0;
}

@-webkit-keyframes navLinksFade {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@keyframes navLinksFade {
  0% {
    opacity: 0;
    transform: translateX(50px);
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
.toggle .line1 {
  transform: rotate(-45deg) translate(-5px, 6px);
}

.toggle .line2 {
  opacity: 0;
}

.toggle .line3 {
  transform: rotate(405deg) translate(-5px, -6px);
}

.keyvisual {
  width: 100vw;
  position: fixed;
  z-index: 7;
  transition-duration: 1s;
  position: relative;
}
.keyvisual .textAnimation {
  font-size: 4rem;
  color: rgb(255, 179, 0);
  position: absolute;
  top: 150px;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 0.2em;
}
.keyvisual .textAnimation__bro {
  font-size: 2rem;
  color: #fff;
  position: absolute;
  top: 250px;
  left: 50%;
  transform: translateX(-50%);
  letter-spacing: 0.2em;
}
.keyvisual img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

@media screen and (max-width: 768px) {
  .keyvisual {
    height: 450px;
  }
  .keyvisual .textAnimation {
    font-size: 2.5rem;
  }
  .keyvisual .textAnimation__bro {
    font-size: 2rem;
  }
  .keyvisual img {
    width: 100vw;
  }
}
@media screen and (max-width: 550px) {
  .keyvisual {
    height: 250px;
  }
  .keyvisual .textAnimation {
    font-size: 1.25rem;
  }
  .keyvisual .textAnimation__bro {
    font-size: 1rem;
    top: 220px;
  }
}
@-webkit-keyframes showTextFromBottom {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes showTextFromBottom {
  0% {
    transform: translateY(200%);
  }
  100% {
    transform: translateY(0%);
  }
}
@-webkit-keyframes showTextFromTop {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0%);
  }
}
@keyframes showTextFromTop {
  0% {
    transform: translateY(-200%);
  }
  100% {
    transform: translateY(0%);
  }
}
.textAnimation span {
  /*外側のspan*/
  display: inline-block;
}

.textAnimation > span {
  /*内側のspan*/
  overflow: hidden;
}

.textAnimation > span:nth-of-type(odd) {
  -webkit-animation: showTextFromBottom 2S ease-out backwards;
          animation: showTextFromBottom 2S ease-out backwards;
}

.textAnimation > span:nth-of-type(even) {
  -webkit-animation: showTextFromTop 2S ease-out backwards;
          animation: showTextFromTop 2S ease-out backwards;
}

.scrollBtn {
  display: block;
  width: 2.5rem;
  height: 2.5rem;
  border-radius: 0.25rem;
  background: red;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  z-index: 8;
  text-align: center;
  opacity: 0;
  transition: opacity 1s;
}
.scrollBtn__link {
  display: block;
  width: 100%;
  height: 100%;
  cursor: pointer;
}
.scrollBtn__link .bi {
  font-size: 16px;
  font-weight: bold;
  color: #fff;
  position: relative;
  top: 10px;
  -webkit-animation: jump 0.8s ease 0.2s 3;
          animation: jump 0.8s ease 0.2s 3;
  transition: all 1s;
  /* 3回ジャンプ、1秒ごとに */
}

@media screen and (max-width: 768px) {
  .scrollBtn {
    display: none;
  }
}
.scrollBtn.show {
  opacity: 1;
  -webkit-animation: Jump 0.5s ease 0.2s 3;
          animation: Jump 0.5s ease 0.2s 3;
}

@-webkit-keyframes Jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}

@keyframes Jump {
  0% {
    transform: translateY(0);
  }
  50% {
    transform: translateY(-0.5rem);
  }
  100% {
    transform: translateY(0);
  }
}
.background {
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  position: fixed;
  background-position: center center;
  opacity: 0;
  background-size: cover;
  transition: all 1.5S ease 0s;
}

.show .background {
  opacity: 1;
}

#contents {
  margin-left: 16px;
}

.contents .wrap {
  padding: 40vh 0 60vh;
  position: relative;
  z-index: 2;
}

#content01_bg {
  background-image: url("../img/kojima_top.jpeg");
  background: no-repeat cover;
}

#content02_bg {
  background-image: url("../img/fuji1.jpeg");
  background: no-repeat cover;
}

#content03_bg {
  background-image: url("../img/susuki1.jpeg");
  background: no-repeat cover;
}

#content04_bg {
  background-image: url("../img/upstear1.jpeg");
  background: no-repeat cover;
}

#text-box00 {
  display: none;
}

.text-box {
  padding: 50px 25px;
  width: 480px;
  background: rgba(0, 0, 0, 0.3);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
  box-shadow: 2px 2px 16px #333;
  color: #fff;
  font-style: normal;
  border-radius: 8px;
}
@media screen and (max-width: 576px) {
  .text-box {
    width: 100vw;
  }
}
.text-box_right {
  width: 600px;
  position: absolute;
  right: 0;
  margin-right: 16px;
  overflow-x: hidden;
}
@media screen and (max-width: 576px) {
  .text-box_right {
    width: 100vw;
    margin-right: 0;
  }
}
.text-box .catch {
  margin: 0 0 10px;
  font-size: 40px;
}
.text-box .copy {
  margin: 0;
}
.text-box .copy_right {
  margin-bottom: 8px;
}
.text-box .copy p {
  line-height: 1.6;
  font-size: 20px;
  letter-spacing: 0.05em;
}
@media screen and (max-width: 576px) {
  .text-box .copy p {
    font-size: 16px;
  }
}
.text-box .copy em {
  font-style: normal;
  font-weight: bold;
  color: rgb(255, 179, 0);
}

.slideNews {
  width: 100%;
  height: 300px;
  display: flex;
  flex-wrap: nowrap;
  gap: 4px;
  overflow-x: auto;
  scroll-snap-type: mandatory;
  box-shadow: 4px 4px 16px #000;
}

.topBlogCard {
  flex: 0 0 300px;
  display: block;
  width: 300px;
  height: 300px;
  padding: 8px;
  box-shadow: 4px 4px 16px #000;
  border: 1px solid #fff;
  background: rgba(255, 255, 255, 0.7);
  overflow: hidden;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
  scroll-snap-align: start;
}
@media screen and (max-width: 576px) {
  .topBlogCard {
    flex: 0 0 200px;
  }
}
.topBlogCard a {
  text-decoration: none;
  color: #333;
  text-overflow: hidden;
  display: block;
}
.topBlogCard__link {
  display: flex;
  flex-direction: column;
}
.topBlogCard__imgWrapper {
  display: block;
  width: 284px;
  height: 150px;
  border-radius: 8px;
  overflow: hidden;
}
.topBlogCard__imgWrapper img {
  width: 100%;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
}
.topBlogCard__title {
  text-align: center;
  padding: 16px;
  color: #333;
}
.topBlogCard__title_span {
  position: relative;
  display: inline-block;
}
.topBlogCard__title_span::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -2.5em;
  display: block;
  width: 2rem;
  height: 2px;
  background: rgb(255, 179, 0);
}
.topBlogCard__title_span::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -2.5em;
  display: block;
  width: 2rem;
  height: 2px;
  background: rgb(255, 179, 0);
}
.topBlogCard__text {
  display: block;
  width: 284px;
  height: 80px;
  overflow: hidden;
}

.topBlogNewsBoxArrow {
  text-align: center;
  margin-top: 16px;
}
.topBlogNewsBoxArrow__arrow {
  display: inline-block;
  color: #fff;
  font-weight: bold;
  font-size: 1rem;
  position: relative;
}
.topBlogNewsBoxArrow__arrow::before {
  content: "←";
  display: block;
  font-size: 1rem;
  color: #fff;
  position: absolute;
  top: 10%;
  left: -2rem;
}
.topBlogNewsBoxArrow__arrow::after {
  content: "→";
  display: block;
  font-size: 1rem;
  color: #fff;
  position: absolute;
  top: 10%;
  right: -2rem;
}

.blogImgBox {
  display: block;
  width: 100%;
  height: 150px;
  background: rgba(0, 0, 0, 0.3);
}
.blogImgBox .slideImg {
  width: 100%;
  height: 150px;
  display: flex;
  flex-wrap: nowrap;
  gap: 4px;
  overflow-x: auto;
  scroll-snap-type: mandatory;
  box-shadow: 4px 4px 16px #000;
}
.blogImgBox .slideImg a {
  display: inline-block;
  width: 300px;
  height: 150px;
}
.blogImgBox .slideImg a:action {
  transition: 1s ease;
}
.blogImgBox .slideImg a img {
  width: 300px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  scroll-snap-align: start;
}

.foodImg__Wrapper {
  width: 100%;
  display: flex;
  justify-content: center;
  gap: 16px;
}
.foodImg__Wrapper img {
  width: 200px;
  height: 150px;
  -o-object-fit: cover;
     object-fit: cover;
  background: #fff;
  box-shadow: 4px 4px 16px #000;
}

.foodProducts {
  font-size: 24px;
  font-weight: bold;
  margin: 24px 0 0;
  line-height: 1.8;
}
.foodProducts a {
  color: red;
  text-decoration: none;
}

.button {
  display: inline-block;
  color: hotpink;
  border: 1px solid currentColor;
  padding: 1em 1.75em 0.9em;
  background: #fff;
}

.button_size_s {
  font-size: 0.875rem;
  padding: 0.7em 1.25em 0.6em;
}

.button_size_b {
  display: block;
  font-size: 0.875rem;
  padding: 0.7em 1.25em 0.6em;
  width: 90%;
  margin: 10px auto;
  text-align: center;
}

.button_arrow_right {
  position: relative;
  padding-right: 1.75rem;
}
.button_arrow_right::after {
  position: absolute;
  top: 50%;
  right: 0.5em;
  display: block;
  transform: translateY(-50%);
  content: "→";
  font-size: 16px;
  font-weight: bold;
}

.cardBlogTxt {
  width: 70vw;
  margin: 48px auto;
}
.cardBlogTxt em {
  font-style: normal;
  font-weight: bold;
}
.cardBlogTxt p:nth-child(2) {
  margin-top: 24px;
}

.blogCardsContainer {
  display: flex;
}

.blogCards {
  display: flex;
  flex-direction: column;
  width: calc(100vw - 200px);
  list-style: none;
}
.blogCards li:nth-child(n) {
  margin-top: 16px;
}
.blogCards li:last-child {
  margin-bottom: 16px;
}

.blogCard {
  width: 90%;
  border: 1px solid #333;
  overflow: hidden;
  border-radius: 8px;
  margin-left: auto;
  margin-right: auto;
}

.blogCard__title {
  text-align: center;
  padding: 16px;
  color: #333;
}
.blogCard__title_bar {
  position: relative;
  display: inline-block;
}
.blogCard__title_bar::before {
  content: "";
  position: absolute;
  top: 50%;
  left: -2.5em;
  display: block;
  width: 2rem;
  height: 2px;
  background: rgb(255, 179, 0);
}
.blogCard__title_bar::after {
  content: "";
  position: absolute;
  top: 50%;
  right: -2.5em;
  display: block;
  width: 2rem;
  height: 2px;
  background: rgb(255, 179, 0);
}

.blogCard__link {
  width: 100%;
  display: flex;
  gap: 16px;
  text-decoration: none;
  color: inherit;
}

.blogCard__imgWrapper {
  width: 200px;
  height: 150px;
  margin: 16px;
}
.blogCard__imgWrapper img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.blogCard__text {
  margin: 16px;
}

@media screen and (max-width: 768px) {
  .blogCardsContainer {
    display: block;
  }
  .blogCards {
    width: 100%;
  }
  .blogCard__link {
    display: block;
  }
  .blogCard__link .blogCard__imgWrapper {
    width: 70vw;
    height: 52.8vw;
  }
  .blogCard__link .blogCard__text {
    margin: 16px auto;
    width: 70vw;
  }
}
@media screen and (max-width: 550px) {
  .blogCardsContainer {
    display: block;
  }
  .blogCards {
    width: 100%;
  }
  .blogCard__link {
    display: block;
  }
}
#sidebar {
  width: 300px;
  margin-top: 16px;
}
#sidebar .sidebar__col {
  padding: 24px 0;
  border-bottom: 1px solid #333;
  text-align: center;
}
#sidebar .sidebar__col a {
  text-decoration: none;
  color: inherit;
}
#sidebar .linkBanner {
  margin-top: 48px;
}
#sidebar .linkBanner p {
  display: block;
  text-align: center;
  padding: 24px 0;
  font-weight: bold;
  border-bottom: 1px solid #333;
}
#sidebar .linkBanner__part {
  padding: 24px 0;
  border-bottom: 1px solid #333;
  text-align: center;
}
#sidebar .linkBanner__part a {
  text-decoration: none;
  color: inherit;
}
@media screen and (max-width: 768px) {
  #sidebar #sidebar {
    width: 200px;
  }
}
@media screen and (max-width: 550px) {
  #sidebar #sidebar {
    width: 100vw;
    display: flex;
    gap: 16px;
    padding: 16px;
  }
  #sidebar #sidebar .sidebar {
    width: calc((100vw - 48px) / 2);
    margin-top: 0;
  }
  #sidebar #sidebar .linkBanner {
    width: calc((100vw - 48px) / 2);
    margin-top: 0;
  }
}

.blContainer__form {
  width: 70%;
  margin-right: auto;
  margin-left: auto;
}

table {
  width: 100%;
  caption-side: top;
  margin: 24px 0;
}
table caption {
  padding: 16px;
  -moz-text-align-last: left;
       text-align-last: left;
  letter-spacing: 0.1em;
  line-height: 1.6;
}
table td {
  padding: 10px;
  border: 1px solid #ddd;
}
table td:first-child {
  background: #eee;
}

footer {
  display: block;
  width: 100vw;
  height: 150px;
  text-align: center;
  position: relative;
}
footer .footer__logo {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: #fff;
}
footer .footer__logo_black {
  color: #333;
}
/*# sourceMappingURL=style.css.map */